body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.checkbox {
  display: inline;
  height: 100px;
  width: 49%;
}
.checkbox div {
  display: block;
}
.signin {
  display: inline;
  height: 500px;
  width: 49%;
}
.main {
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-style {
  padding: 7px;
  display: block;
}

/* styles for svg */
.form-style div {
  position: absolute;
  padding: 0px;
  margin: 0.5em auto auto auto;
}

.form-style form input {
  display: block;
  height: 30px;
  border: 1px solid;
  border-radius: 5px;
  margin: auto 0px 5px 30px;
}
